################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WCFClientSolution/.vs/WCFClientSolution/v16/.suo
