<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPriceManagement" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53289/Services/PriceManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPriceManagement"
                contract="PriceServiceReference.IPriceManagement" name="BasicHttpBinding_IPriceManagement" />
        </client>
    </system.serviceModel>
</configuration>