<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatalogManagement" />
                <binding name="BasicHttpBinding_ISalesManagement" />
            </basicHttpBinding>
            <customBinding>
                <binding name="customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152"
                        maxBufferSize="2097152" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53289/Services/CatalogManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogManagement"
                contract="ServiceReference2.ICatalogManagement" name="BasicHttpBinding_ICatalogManagement" />
            <endpoint address="http://localhost:53289/Services/SalesManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalesManagement"
                contract="OrderService.ISalesManagement" name="BasicHttpBinding_ISalesManagement" />
        </client>
    </system.serviceModel>
  
</configuration>
